*{
    margin: 0;
    padding: 0;
}

.footer{ 
    background-color: rgb(0, 78, 13);
    height: 80vh;
    text-align: left; 
    padding: 100px;
    position: relative;
}
.footer-list{
    display: flex;
    padding-top: 200px ;
    margin-left: 100px;
}
.footer-list ul, li, a{
    color: #fff;
    text-decoration: none;
}
.footer-list h2{
    color: #fff;
    text-decoration: underline;
}
.footer-list ul, li, a{
    font-family: 'Dongle';
    font-size: 25px;
}
.footer-list .left{
    flex: 1;
    text-decoration: none;
    line-height: 25px;
    line-height: 35px;
}
.footer-list .center{
    flex: 1;
    text-decoration: none;
    line-height: 25px;
    line-height: 35px;
}
.footer-list .right{
    flex: 1.5;
    text-decoration: none;
    line-height: 25px;
    float: right;
    margin-left: 195px;
    line-height: 35px;
}
.footer .logo{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: -50px;
}
.footer .logo p{
    color: white;
    font-family: 'Dongle';
    font-size: 25px;
    margin-left: 25px;
}
.copyR{
    margin-top: 40px;
    width: 100%;
    background-color: #fff;
}
.copyR p{
    text-align: center;
    font-family: 'Dongle';
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 78, 13);
}
.copyR .rights{
    font-family: 'Dongle';
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 78, 13);   
}
.footer .social{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 15%;
    right: 15%;
}
.footer .social .medias{
    margin: 10px;
}
.footer .social .medias:hover{
    font-size: 43px;
    transition: 3s;
}