@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ranchers&family=Smooch&family=Fredericka+the+Great&family=Barlow:wght@100&family=Creepster&family=Dongle:wght@300&family=Great+Vibes&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
